node_modules/
/.pnp
.pnp.js

/build/
/dist/
/out/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local


npm-debug.log*
yarn-debug.log*
yarn-error.log*


/coverage/
.nyc_output


.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp


.DS_Store
Thumbs.db

.eslintcache
.stylelintcache
.node_repl_history
*.tsbuildinfo
