h2, h3 {
    color: white;
}

@font-face {
  font-family: 'CustomFont';
  src: url('../assets/fonts/Satisfy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.hero-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 2rem;
}
 
.hero-content-wrap {
  max-width: 800px;
}

.hero-title {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.hero-sub {
  font-size: 2.1rem;
  margin-bottom: 2rem;
  font-family: 'CustomFont', sans-serif;
}

.btn.primary {
  background: #ffcc00;
  color: #000;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s;
  text-decoration: none;
}

.btn.primary:hover {
  background: #e6b800;
}

.order-btnn {
    border: none;
    background-color: #ffcc00;
    padding: 15px;
    border-radius: 6px;
    transition: 0.5ms ease-in, 0.2s ease-out;
}

.order-btnn:hover {
  background: #e6b800;
  width: fit-content;
  padding: 12px;
  border-radius: 50%;
  font-family: "CustomFont";
  font-size: 20px;
  color: blueviolet;
  font-weight: bold;

}
.hero-image img {
  max-width: 100%;
  border-radius: 12px;
}
