.site-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.footer-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.site-footer p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
}
.site-footer h4 {
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}
.site-footer a {
    color: #ffcc00;
    text-decoration: none;
}

.spread-em {
    display: flex;
    gap: 80px;
    justify-content: center;
}

form.site-footer input[type="email"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 8px;
}

input {
    font-size: 1em;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    box-sizing: border-box;
}
.btn {
    background-color: #5f2c2c;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #7a3b3b;
}

.newsletter {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    background-color: #3d0505;
    width: fit-content;
    height: fit-content;
    padding: 14px;
    border-radius: 8px;
}