* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/assets/signup-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form {
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    width: 350px;
}

form * {
    display: block;
    width: 100%;
}

.main-text {
    font-size: 35px;
    color: gold;
    text-align: center;
    margin-bottom: 20px;
}

.input {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin: 20px 0;
    backdrop-filter: blur(6px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.input::placeholder {
    color: #ddd;
}

.btn-login {
    background: gold;
    color: black;
    padding: 12px;
    cursor: pointer;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: background 0.3s ease;
}

.btn-login:hover {
    background: #ffd700;
}

.end {
    color: #fff;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    float: inline-start;
    font-size: 15px;
}

.link {
    color: gold;
    font-weight: 700;
    text-decoration: none;
}
